body{
    font-family: Arial, Helvetica, sans-serif;

}
#color-box{
    width: 1000px;
    height: 200px;
    background-color: rgba(250, 156, 33, 0.822);
    margin:20px;
}
.container {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-top:20px;
    color: blueviolet;
}

#change-color-btn{
    background-color: blueviolet;
    color:rgba(250, 156, 33, 0.822);
    border-radius: 20px;
    padding:20px;
}


